	<div class="<%= @first_class %>">
	<div
		 class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
     class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600"
	 >
	 <i class="fas fa-user-friends text-xl"></i>
	</div>
	<h3 class="text-3xl mb-2 font-semibold leading-normal">
		Working with us is a pleasure
	</h3>
	<p
		 class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
	 >
	 Don't let your uses guess by attaching tooltips and popoves to
	 any element. Just make sure you enable them first via
	 JavaScript.
	</p>
	<p
	 class="text-lg font-light leading-relaxed mt-0 mb-8 text-gray-700"
	>
	The kit comes with three pre-built pages to help you get started
	faster. You can change the text and images and you're good to
	go. Just make sure you enable them first via JavaScript.
	</p>
	<a
	href="https://github.com/topofocus/cookie"
 class="font-bold text-gray-500 px-8 py-4 rounded-md bg-gray-50 hover:bg-gray-400 hover:text-gray-50"
 >Check Cookie!</a>
</div>

