
<div class="<%= first_class %>">
	<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600" >
	 <img alt="..."
		src="<%= @image %>"
	class="w-full align-middle rounded-t-lg" />
		<% if place_text %>
		 <blockquote class="relative p-8 mb-4">
			 <svg
					preserveAspectRatio="none"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 583 95"
					class="absolute left-0 w-full block"
					style="height: 95px; top: -94px;" >
				 <polygon
						 points="-30,95 583,95 583,65"
						 class="text-pink-600 fill-current" >
				 </polygon>
			 </svg>
			 <h4 class="text-xl font-bold text-white">
				 <%= @title %>
			 </h4>
			 <p class="text-md font-light mt-2 text-white">
			 TEST
				<%= markdownify content %>
				</p>
		 </blockquote>
    <% end %>
	</div>
</div>
